<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutMain}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .margin{
            margin-bottom:30px;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
    </style>
</th:block>


<div layout:fragment="content" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
<div class="containers">
    <div class="content-main">
    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
    </div>
<!--모바일 1개 :row-cols-1 / pc는 4개 진열:row-cols-md-4-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col margin">
                <div class="card shadow-sm">
                    <a th:href="'/item/' +${item.id}" class="text-dark text-decoration-none">
                        <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="">
                        <div class="card-body text-start">
                            <h5 class="card-title lh-1">[[${item.itemNm}]]</h5>
                            <p class="card-text lh-1">[[${item.itemDetail}]]</p>
                            <p class="card-title text-danger title" data-th-text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></p>

                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
    </div>

</div>

        <div class="align-items-center justify-content-center mb-5 bg-white" style="width:100%;">
 <!--페이징
    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
        <ul class="pagination justify-content-center ">

            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>-->

        </div>


</div>